header{
	background-color: #DC3545;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	margin: 0;
}

/* Input style */

.new-task{
	text-align: center;
	margin-bottom: 12px;
	padding-bottom: 16px;
}

.new-task h4{
	font-family: 'Rowdies', cursive;
	width: 100%;
	font-size: 36px;
	margin-bottom: 16px;
}

.new-task form{
	width: 400px;
	margin: 0 auto;
}

.new-task-input{
	text-align: center;
	font-family: 'Rowdies', cursive;
	font-size: 17px;
}

.new-task-btn{
	width: 75px;
	font-family: 'Rowdies', cursive;
	text-transform: uppercase;
	text-align: center;
	margin-left: 3px;
}

/* End input style */ 


/* Generic sections style */
.pomodoro-tasks{
	text-align: center;
}

.pomodoro-tasks h4{
	font-family: 'Rowdies', cursive;
	font-size: 36px;
}

/* End generic sections style */


/* Pomodoro clock style */
#clock{
	display: inline-block;
	font-family: 'Rowdies', cursive;
	font-size: 36px;
	padding: 6px 60px;
}

.button{
	border: 1px solid black;
	font-size: 50px;
	width: 100px;
	border-radius: 25px;
	background-color: white;
}

.button:hover{
	cursor: pointer;
	color: white;
	background-color: #DC3545;
	border: 1px solid #DC3545; 
}

#minutes-arrows .click:hover,
#seconds-arrows .click:hover{
	cursor: pointer;
	background-color: #DC3545;
	border: 1px solid #DC3545;
	color: white; 
}

#minutes-arrows button,
#seconds-arrows button{
	padding: 0;
	border: none;
	background: none;
	outline: none;
}



/* End pomodoro clock style */ 